* {
    box-sizing: border-box;
  }
  
  .scene {
    width: 465px;
    height: 180px;
    perspective: 1000px;
  }
  
  .card {
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: pink;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .front {
    background-color: darkgrey;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
  }
  
  .isFlipped {
    transform: rotateY(180deg);
  }

  .hasMatch {
    border: 4px solid green;
  }

  @media only screen and (max-width: 1024px) {
    .scene {
      width: 235px;
      height: 250px;
    }
  }

  @media only screen and (max-width: 768px) {
    .scene {
      width: 170px;
      height: 200px;
    }
  }

  @media only screen and (max-width: 768px) {
    .scene {
      width: 170px;
      height: 190px;
    }
  }

  @media only screen and (max-width: 414px) {
    .scene {
      width: 80px;
      height: 125px;
    }
  }

  @media only screen and (max-width: 320px) {
    .scene {
      width: 70px;
      height: 95px;
    }
  }

  
