* {
    box-sizing: border-box;
  }
  
  .scene {
    width: 85px;
    height: 90px;
    perspective: 1000px;
    margin: 10px;
  }
  
  .card {
    border: 1px solid black;
    box-shadow: 5px 10px 8px #343234;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    user-select: none;
  }

  .front {
    background-color: #DDFF99;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    background-color: pink;
  }

  img {
    height: 50px;
    width: 50px;
  }
  
  .isFlipped {
    transform: rotateY(180deg);
  }

  .hasMatch {
    border: 4px solid #678b04;
  }

  @media only screen and (max-width: 768px) {
    .scene {
        width: 80px;
        height: 85px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }

  @media only screen and (max-width: 459px) {
    .scene {
        width: 75px;
        height: 80px;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  @media only screen and (max-width: 420px) {
    .scene {
        width: 70px;
        height: 75px;
    }
  }

  @media only screen and (max-width: 400px) {
    .scene {
        width: 60px;
        height: 65px;
    }
  }

  @media only screen and (max-width: 379px) {
    .scene {
        width: 60px;
        height: 65px;
    }
  
  }

  @media only screen and (max-width: 359px) {
    .scene {
        width: 55px;
        height: 60px;
    }
  }

  @media only screen and (max-width: 339px) {
    .scene {
        width: 50px;
        height: 60px;
    }
  }

  @media only screen and (max-width: 320px) {
    .scene {
        width: 45px;
        height: 55px;
    }
  }

